<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IeMRMainService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IeMRMainService1">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://patient.hl7.vn/TichHop_HIS/window/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IeMRMainService"
                contract="HmsService.IeMRMainService" name="WSHttpBinding_IeMRMainService" />
            <endpoint address="http://patient.hl7.vn/TichHop_HIS/window/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IeMRMainService1"
                contract="HmsService.IeMRMainService" name="WSHttpBinding_IeMRMainService1" />
        </client>
    </system.serviceModel>
</configuration>