<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>    
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="AssignPrescriptionServiceBehavior" name="HIS.WCF.Service.AssignPrescriptionService.AssignPrescriptionService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="AssignPrescriptionBinding"
          contract="HIS.WCF.Service.AssignPrescriptionService.IAssignPrescription">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:3082/Inventec/AssignPrescriptionService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AssignPrescriptionServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="AssignPrescriptionBinding" maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000" sendTimeout="10675199.02:48:05.4775807" receiveTimeout="10675199.02:48:05.4775807">
          <security mode="Message">
            <message clientCredentialType="Windows"/>
          </security>
          <readerQuotas maxDepth="32"
                 maxArrayLength="200000000"
                 maxStringContentLength="200000000"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

</configuration>
