<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="PostSharp" version="4.2.22" targetFramework="net45" />
  <package id="PostSharp.Patterns.Diagnostics" version="4.2.22" targetFramework="net45" />
  <package id="PostSharp.Patterns.Diagnostics.Log4Net" version="4.2.22" targetFramework="net45" />
</packages>