<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPacsService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7031/PacsService/GetLink"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPacsService"
                contract="WCFPacsInfo.IPacsService" name="WSHttpBinding_IPacsService" />
        </client>
    </system.serviceModel>
</configuration>