<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/DataModels.DataModel.csdl|res://*/DataModels.DataModel.ssdl|res://*/DataModels.DataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=IMSYSDB;password=ACS_RS;user id=ACS_RS&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <log4net>
    <appender name="LogSystem" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\LogSystem.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %date [%thread] - %message%newline%exception%newline" />
      </layout>
    </appender>
    <logger name="Inventec.Common.Logging.LogSystem">
      <level value="DEBUG" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="5MB" />
      <param name="Threshold" value="ERROR" />
      <appender-ref ref="LogSystem" />
    </logger>
    <appender name="LogTime" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\LogTime.txt" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %date [%thread] - %message%newline%exception%newline" />
      </layout>
    </appender>
    <logger name="Inventec.Common.Logging.LogTime">
      <level value="INFO" />
      <param name="Threshold" value="ERROR" />
      <appender-ref ref="LogTime" />
    </logger>
    <appender name="LogSession" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\LogSession.txt" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="30" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %date [%thread] - %message%newline%exception%newline" />
      </layout>
    </appender>
    <logger name="Inventec.Common.Logging.LogSession">
      <level value="DEBUG" />
      <param name="Threshold" value="ERROR" />
      <appender-ref ref="LogSession" />
    </logger>
  </log4net>
  <appSettings>
    <!--Đặt là 1 để tự động sinh mật khẩu trùng tên đăng nhập, khác là sinh ngẫu nhiên-->
    <add key="ACS.ACS_USER.GeneratePass.Auto" value="1" />

    <!--Đặt là 1 áp dụng kiểm tra địa chỉ truy cập, khác là không kiểm tra-->
    <add key="Inventec.Token.AuthSystem.CheckAddress" value="2" />

    <!--Đơn vị tính theo phút. 10080 = 1 tuần || 43200 = 1 tháng-->
    <add key="Inventec.Token.AuthSystem.TokenTimeout" value="10080" />

    <!--Không get token từ DB khi chạy api GetAuthenticated|GetAuthenticatedByAddress và kiểm tra token truyền lên không có trong RAM của ACS-->
    <add key="Inventec.Token.AuthSystem.IsNotGetTkenFromDB" value="" />

    <!--Base URI cua he thong authen (dung dia chi localhost de dam bao on dinh)-->
    <add key="Inventec.Token.ResourceSystem.AcsTokenGet.Uri.Base" value="http://192.168.1.201:81/" />
    <!--URI cua api kiem tra authenticated-->
    <add key="Inventec.Token.ResourceSystem.AcsTokenGet.Uri.GetAuthenticatedByAddress" value="api/Token/GetAuthenticatedByAddress" />
    <add key="Inventec.Token.ResourceSystem.AcsTokenGet.Timeout" value="300" />
    <!--Ma resource sytem-->
    <add key="Inventec.Token.ResourceSystem.ResourceSystemCode" value="ACS" />
    <add key="Inventec.Token.ResourceSystem.AcsTokenGet.Uri.GetCredentialData" value="api/Token/GetCredentialData" />
    <add key="Inventec.Token.ResourceSystem.AcsTokenGet.Uri.SetCredentialData" value="api/Token/SetCredentialData" />
    <add key="Inventec.Token.ResourceSystem.AcsTokenGet.Uri.SetCredentialAccessTime" value="api/Token/SetCredentialAccessTime" />
    <add key="Inventec.Token.ResourceSystem.Scheduler.ScanAccessLogJob" value="60000"/>
    <!--Thời gian tính theo mini giây-->

    <add key="ACS.API.Scheduler.RefreshSystemConfigJob" value="3600000" />
    <add key="ACS.API.Scheduler.ScanTimeOutCredentialsJob" value="3600000" />
    <add key="ACS.API.Scheduler.ScanTroubleJob" value="600000" />
    <add key="ACS.API.Scheduler.ScanEventLogJob" value="60000" />
    <add key="ACS.API.Scheduler.ScanCredentialAccessTimeJob" value="60000" />
    <add key="ACS.API.Scheduler.ActivityLogJob" value="60000" />
    <!--don vị theo mini giay-->

    <add key="ACS.Activation.ExpireMinutePlus" value="2" />
    <add key="ACS.AcsSystem.OtpRequiredOnly.Timeout" value="5" />
    <add key="ACS.AcsAuthenRequest.OtpAuthenRequest.Timeout" value="5" />

    <!--Cấu hình bật tắt chế độ tự động khởi tạo token trong RAM, đặt 1: Khi restart iis ACS sẽ tự động truy vấn dữ liệu bảng acstoken để khởi tạo sẵn các token còn hiệu lực trước đó và lưu ở RAM. Đặt giá trị khác hoặc không có giá trị: không tự động chạy-->
    <add key="ACS.API.InitTokenInRamForStartApp" value="1" />

    <add key="Inventec.Token.Base.ApiConsumerStore.SdaConsumer.Uri" value="http://192.168.1.201:90/" />
    <add key="Inventec.Token.Base.ApiConsumerStore.AcsConsumer.Uri" value="http://192.168.1.201:81/" />
    <add key="ACS.AcsSystem.ResetPassword.Timeout" value="60" />

    <add key="MANAGER.Base.ApiConsumerStore.Sms.Uri" value="http://192.168.1.201:226/" />
    <add key="MANAGER.Base.ApiConsumerStore.Sms.SecurityCode" value="000000" />
    <!--SecurityCode gui len sms-->
    <add key="MANAGER.Base.ApiConsumerStore.Sms.MerchantCode" value="000000" />
    <!--MerchantCode gui len sms-->

    <add key="ACS.BACKPLANE_ADDRESSES.URI" value="" />
    <add key="ACS.IS_MASTER" value="1" />

    <add key="ACS.MANAGER.MailServerGmail.User" value="integratemanagementsystem@gmail.com" />
    <add key="ACS.MANAGER.MailServerGmail.Password" value="Khoakn1985" />
    <add key="ACS.MANAGER.MailServerGmail.Body" value="Hệ thống xin thông báo mật khẩu mới của tài khoản {0} là: {1}{2}Vui lòng đăng nhập hệ thống và thực hiện đổi mật khẩu để đảm bảo an toàn thông tin." />

    <!--Đặt 0 nếu chạy với hệ thống HIS, 1 nếu chạy với hệ thống thẻ-->
    <add key="Inventec.Token.AuthSystem.IsUsingJWT" value="0" />

    <!--Đặt 1 nếu bậ chế độ SSO theo deviceID client gửi lên lúc đăng nhập, khác 1 là tắt-->
    <add key="Inventec.Token.AuthSystem.IsUsingSSO" value="0" />
    
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxQueryStringLength="32768" maxUrlLength="65536" maxRequestLength="20000000" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>