<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="LogSystem" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\LogSystem.txt"/>
	  <encoding value="utf-8"/>
	  <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="30"/>
      <maximumFileSize value="5MB"/>  
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %date [%thread] - %message%newline%exception%newline"/>
      </layout>
    </appender>
    <logger name="Inventec.Common.Logging.LogSystem">
      <level value="DEBUG"/>
      <param name="Threshold" value="ERROR"/>
      <appender-ref ref="LogSystem"/>
    </logger>
	<appender name="LogAction" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\LogAction.txt"/>
	  <encoding value="utf-8"/>
	  <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="30"/>
      <maximumFileSize value="5MB"/>  
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %date [%thread] - %message%newline%exception%newline"/>
      </layout>
    </appender>
    <logger name="Inventec.Common.Logging.LogAction">
      <level value="DEBUG"/>
      <param name="Threshold" value="ERROR"/>
      <appender-ref ref="LogAction"/>
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="ReferencedAssemblies;Integrate\MEDISOFT"/>
    </assemblyBinding>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <appSettings file="">
    <clear/>
    <add key="Inventec.Token.ClientSystem.Acs.Base.Uri" value="https://acstest.onelink.vn:8443/"/>
    <add key="Inventec.Token.ClientSystem.Acs.Renew.Uri" value="api/Token/Renew"/>
    <add key="Inventec.Token.ClientSystem.Acs.Login.Uri" value="api/Token/Login"/>
    <add key="Inventec.Token.ClientSystem.Acs.ChangePass.Uri" value="api/Token/ChangePassword"/>
    <add key="Inventec.Token.ClientSystem.Acs.Logout.Uri" value="api/Token/Logout"/>
    <add key="Inventec.Token.ClientSystem.Acs.GetAuthenticated.Uri" value="api/Token/GetAuthenticated"/>
    <add key="Inventec.Token.ClientSystem.Timeout" value="30"/>
    <add key="Inventec.Common.WebApiClient.Timeout" value="300"/>
    <add key="Inventec.Common.LocalStorage.SdaConfig.SdaConfigGet.Uri.Base" value="/api/SdaConfig/Get"/>
    <add key="Inventec.Desktop.Icon" value="APP.ico"/>
    <add key="Inventec.Desktop.ApplicationCode" value="HIS"/>
    <add key="Inventec.Desktop.Execute" value="HIS"/>
    <add key="Inventec.Speech.Voice.Folder" value="Voice"/>
    <add key="Inventec.Speech.Voice.TimeOut" value="10"/>
    <add key="HIS.Desktop.PrintTemplate" value="Tmp/Mps"/>
    <add key="His.Config.PrintType.Printer" value=""/>
    <add key="His.Desktop.MaxTabPageItemCount" value="200"/>
    <add key="Inventec.Desktop.Common.Message.AutoFormDelay" value="50"/>
    <add key="Inventec.Desktop.Core.PluginPath" value="Plugins\Module"/>
    <add key="Inventec.Common.String.SpecialUnicodeText" value="áàảãạâấầẩẫậăắằẳẵặđéèẻẽẹêếềểếễệíìỉĩịịĭóòỏõọôốồổỗộơớờởỡợúùủũụŭưứừửữựýỳỷỹỵÁÀẢÃẠÂẤẦẨẪẬĂẮẰẲẴẶĐÉÈẺẼẸÊẾỀỂỄỆÍÌỈĨỊÓÒỎÕỌÔỐỒỔỖỘƠỚỜỞỠỢÚÙỦŨỤƯỨỪỬỮỰÝỲỶỸỴ"/>
    <add key="His.Desktop.TimeSyncConfig" value="300"/>
    <add key="HIS.Desktop.XmlCacheMonitor.XmlCacheMonitorConfig.DataConfigFilePath" value="CacheMonitorConfig.xml"/>
	<add key="HIS.Desktop.XmlRamMonitor.XmlRamMonitorConfig.DataConfigFilePath" value="RamMonitorConfig.xml"/>  
    <add key="fss.uri.base" value="https://fsstest.onelink.vn:8443/"/>
    <add key="fss.uri.upload" value="api/File/Upload"/>
    <add key="fss.timeout" value="300"/>
	<add key="Aup.uri.base" value=""/><!-- http://192.168.1.201:108/ -->
    <add key="Aup.uri.upload" value="Upload"/>
    <add key="Aup.timeout" value="300"/>
    <add key="Integrate.Aup.Inventec.AUS" value="\Integrate\Aup\Inventec.AUS.exe"/>
    <add key="Integrate.UpdateOfAup.Inventec.AUS" value="\Integrate\UpdateAup\Inventec.AUS.exe"/>
    <add key="His.EventLog.Sda" value="https://sdatest.onelink.vn:8443/"/>
    <add key="MPS.Processor.Instance.Dll.Folder" value="Plugins/MpsProcessor"/>
	<add key="FRD.Processor.Instance.Dll.Folder" value="Plugins/FrdProcessor"/>
    <add key="PortConfig.BaudRate" value="115200"/>
    <add key="PortConfig.Parity" value="None"/>
    <add key="PortConfig.StopBits" value="One"/>
    <add key="PortConfig.Handshake" value="None"/>
    <add key="PortConfig.DataBits" value="8"/>
    <add key="PortConfig.PortName" value="COM3"/>
    <add key="Tos.Connector.Code" value="InventecJSC"/>
    <add key="Cos.SendToDevice.TimeOut" value="15000"/>
	<add key="Inventec.Common.ElectronicBill.Account" value="vietsens"/>
    <add key="Inventec.Common.ElectronicBill.ACPass" value="123456"/>
    <add key="Inventec.Common.ElectronicBill.Username" value="bvkxservice"/>
    <add key="Inventec.Common.ElectronicBill.Pass" value="123456aA@"/>
    <add key="Inventec.Common.ElectronicBill.Pattern" value="02GTTT0/001"/>
    <add key="Inventec.Common.ElectronicBill.Serial" value="AA/17E"/>
    <add key="Inventec.Common.ElectronicBill.Convert" value="1"/>
    <add key="Inventec.Common.ElectronicBill.Enum.ServiceTypeTest" value=""/>
	
    <add key="Inventec.UC.ListReports.PrintType" value=""/>
    <add key="Inventec.ScnConsumer.LoginName" value="xuandv"/>
    <add key="Inventec.ScnConsumer.Password" value="x"/>
    <add key="Inventec.ScnConsumer.Base.Uri" value="https://scntest.onelink.vn:8443/"/>
    <add key="Inventec.ScnConsumer.Acs.Uri" value="https://acstest.onelink.vn:8443/"/>
	
    <add key="MPS.PrintLog.RepeatTime" value="60000"/>
	<add key="APP.IsUnitTest" value="1"/><!-- 1: UnitTest. Giá trị khác 1: Normal -->
	
    <add key="Inventec.Desktop.Common.Message.PendingTime" value="1000"/>
    <add key="HIS.Service.LocalStorage.DataConfig.DBFileName" value="DB\HIS\HIS.SqliteDBLocal.db"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="VPlus.PathLicense" value="https://v.vietsens.vn/ords/vietsens/licensephanmem/licensephanmem/?mã_khách_hàng={0}&amp;mã_phần_mềm={1}"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="TapCardServiceBehavior" name="CARD.WCF.Service.TapCardService.TapCardService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="TapCardBinding" contract="CARD.WCF.Service.TapCardService.ITapCard">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8089/Inventec/TapCardService"/>
          </baseAddresses>
        </host>
      </service>
	    <service behaviorConfiguration="ConnectEMRServiceBehavior" name="HIS.WCF.Service.ConnectEMRService.ConnectEMRService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="ConnectEMRBinding" contract="HIS.WCF.Service.ConnectEMRService.IConnectEMR">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:3080/Inventec/ConnectEMRService"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="AssignPrescriptionServiceBehavior" name="HIS.WCF.Service.AssignPrescriptionService.AssignPrescriptionService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="AssignPrescriptionBinding" contract="HIS.WCF.Service.AssignPrescriptionService.IAssignPrescription">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:3082/Inventec/AssignPrescriptionService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TapCardServiceBehavior">
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
		    <behavior name="ConnectEMRServiceBehavior">
              <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
              <serviceDebug includeExceptionDetailInFaults="false"/>
            </behavior>
        <behavior name="AssignPrescriptionServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="TapCardBinding">
          <security mode="Message">
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_ICallPatient">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_ICheckHeinCard">
          <security mode="None"/>
        </binding>
        <binding name="NetTcpBinding_ITransaction" receiveTimeout="00:05:00">
          <security mode="Message"/>
        </binding>
		<binding name="NetTcpBinding_IFingerprint" receiveTimeout="00:05:00">
			<security mode="Message"/>
		  </binding>
		<binding name="NetTcpBinding_IPrintService">
              <security mode="Message"/>
            </binding>
        <binding name="NetTcpBinding_IService1"/>
		<binding name="ConnectEMRBinding" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000" sendTimeout="10675199.02:48:05.4775807" receiveTimeout="10675199.02:48:05.4775807">
		  <security mode="Message">
			<message clientCredentialType="Windows"/>
		  </security>
		  <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
		</binding>
		<binding name="NetTcpBinding_ISignProcessor" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000" sendTimeout="10675199.02:48:05.4775807" receiveTimeout="10675199.02:48:05.4775807">
				<security mode="Message"/>
		</binding>
		<binding name="NetTcpBinding_IServiceConnect"/>
        <binding name="NetTcpBinding_ICRMRequest">
          <security mode="Message"/>
        </binding>
        <binding name="AssignPrescriptionBinding" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000" sendTimeout="10675199.02:48:05.4775807" receiveTimeout="10675199.02:48:05.4775807">
          <security mode="Message">
            <message clientCredentialType="Windows"/>
          </security>
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8099/UAS/CRMRequest" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICRMRequest" contract="CRMRequest.ICRMRequest" name="NetTcpBinding_ICRMRequest">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8087/Inventec/CallPatientService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICallPatient" contract="CallPatientService.ICallPatient" name="NetTcpBinding_ICallPatient">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8088/Inventec/CheckHeinCardService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICheckHeinCard" contract="CheckHeinCardService.ICheckHeinCard" name="NetTcpBinding_ICheckHeinCard">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8088/Inventec/TransactionService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITransaction" contract="TransactionService.ITransaction" name="NetTcpBinding_ITransaction">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
	  <endpoint address="net.tcp://localhost:8090/Inventec/FingerprintService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFingerprint" contract="FingerprintService.IFingerprint" name="NetTcpBinding_IFingerprint">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
	  <endpoint address="net.tcp://localhost:8091/Inventec/BartenderPrintService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPrintService" contract="BartenderPrintService.IPrintService" name="NetTcpBinding_IPrintService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
	  <endpoint address="net.tcp://localhost:3081/Inventec/SignProcessorService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISignProcessor" contract="ServiceSign.ISignProcessor" name="NetTcpBinding_ISignProcessor">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>	
		<endpoint address="net.tcp://localhost:8733/Blood.Pressure.Monitor/ConnectService/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServiceConnect" contract="ConnectService.IServiceConnect" name="NetTcpBinding_IServiceConnect">
			<identity>
				<dns value="localhost"/>
			</identity>
		</endpoint>

      <endpoint address="net.tcp://localhost:8022/WCF/Service1/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService1" contract="PaxSv.IService1" name="NetTcpBinding_IService1">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
