<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Aup.uri.base" value="http://14.232.245.104:108/" />
    <!--Địa chỉ web service api AUP-->
    <add key="Aup.uri.upload" value="Upload" />
    <add key="Aup.timeout" value="300" />
    <add key="Aup.IsAutoUpdate" value="0" />
    <add key="Inventec.Desktop.ApplicationCode" value="EMRIG" />
    <add key="Inventec.Desktop.Execute" value="Inventec.SignAdapter" />

    <add key="Aup.api.upload" value="api/File/Upload" />
    <add key="Aup.timeout" value="300" />
  </appSettings>
</configuration>