<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/DataModels.DataModel.csdl|res://*/DataModels.DataModel.ssdl|res://*/DataModels.DataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=IMSYSDB;password=SAR_RS;user id=SAR_RS;Max Pool Size=300;Pooling=true&quot;" providerName="System.Data.EntityClient" />

    <add name="ACSEntities" connectionString="metadata=res://*/DataModels.DataModel.csdl|res://*/DataModels.DataModel.ssdl|res://*/DataModels.DataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=IMSYSDB;password=ACS_RS;user id=ACS_RS;Max Pool Size=300;Pooling=true&quot;" providerName="System.Data.EntityClient" />

    <add name="HTCEntities" connectionString="metadata=res://*/DataModels.DataModel.csdl|res://*/DataModels.DataModel.ssdl|res://*/DataModels.DataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=IMSYSDB;password=HTC_RS;user id=HTC_RS;Max Pool Size=300;Pooling=true&quot;" providerName="System.Data.EntityClient" />

    <add name="MOSEntities" connectionString="metadata=res://*/DataModels.DataModel.csdl|res://*/DataModels.DataModel.ssdl|res://*/DataModels.DataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=HISPRO;password=HIS_RS;user id=HIS_RS;Max Pool Size=300;Pooling=true&quot;" providerName="System.Data.EntityClient" />

    <add name="SDAEntities" connectionString="metadata=res://*/DataModels.DataModel.csdl|res://*/DataModels.DataModel.ssdl|res://*/DataModels.DataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=IMSYSDB;password=SDA_RS;user id=SDA_RS;Max Pool Size=300;Pooling=true&quot;" providerName="System.Data.EntityClient" />
	
    <add name="TYTEntities" connectionString="metadata=res://*/DataModels.DataModel.csdl|res://*/DataModels.DataModel.ssdl|res://*/DataModels.DataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=IMSYSDB;password=TYT_RS;user id=TYT_RS;Max Pool Size=300;Pooling=true&quot;" providerName="System.Data.EntityClient" />

    <add name="LISEntities" connectionString="metadata=res://*/DataModels.DataModel.csdl|res://*/DataModels.DataModel.ssdl|res://*/DataModels.DataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=IMSYSDB;password=LIS_RS;user id=LIS_RS;Max Pool Size=300;Pooling=true&quot;" providerName="System.Data.EntityClient" />
	
    <add name="COSEntities" connectionString="metadata=res://*/DataModels.DataModel.csdl|res://*/DataModels.DataModel.ssdl|res://*/DataModels.DataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=IMSYSDB;password=COS_RS;user id=COS_RS;Max Pool Size=300;Pooling=true&quot;" providerName="System.Data.EntityClient" />
	
    <add name="QCSEntities" connectionString="metadata=res://*/DataModels.DataModel.csdl|res://*/DataModels.DataModel.ssdl|res://*/DataModels.DataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=IMSYSDB;password=QCU_RS;user id=QCU_RS;Max Pool Size=300;Pooling=true&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <log4net>
    <appender name="LogSystem" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\LogSystem.txt"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %date [%thread] - %message%newline%exception%newline"/>
      </layout>
    </appender>
    <logger name="Inventec.Common.Logging.LogSystem">
      <level value="INFO"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="100"/>
      <maximumFileSize value="5MB"/>
      <param name="Threshold" value="ERROR"/>
      <appender-ref ref="LogSystem"/>
    </logger>
  </log4net>
  <appSettings>
    <!--Base URI cua he thong authen-->
    <add key="Inventec.Token.ResourceSystem.AcsTokenGet.Uri.Base" value="http://192.168.1.201:81/"/>
    <!--Thoi gian timeout khi goi sang ACS-->
    <add key="Inventec.Token.ResourceSystem.AcsTokenGet.Timeout" value="300"/>
    <!--URI cua api kiem tra authenticated-->
    <add key="Inventec.Token.ResourceSystem.AcsTokenGet.Uri.GetAuthenticatedByAddress" value="api/Token/GetAuthenticatedByAddress"/>
    <add key="Inventec.Token.ResourceSystem.ResourceSystemCode" value="MRS"/>
    <add key="Inventec.Token.ResourceSystem.AcsTokenGet.Uri.GetCredentialData" value="api/Token/GetCredentialData"/>
    <add key="Inventec.Token.ResourceSystem.AcsTokenGet.Uri.SetCredentialData" value="api/Token/SetCredentialData"/>
    <add key="MRS.MANAGER.Base.ApiConsumerStore.FolderSeparate" value="/"/>
    <add key="MRS.MANAGER.Base.ApiConsumerStore.Sar" value="http://192.168.1.201:89"/>
    <add key="MRS.MANAGER.Base.ApiConsumerStore.Sda" value="http://192.168.1.201:90"/>
    <add key="MRS.MANAGER.Base.ApiConsumerStore.Acs" value="http://192.168.1.201:81"/>
    <add key="MRS.MANAGER.Base.ApiConsumerStore.Mos" value="http://192.168.1.201:88"/>
    <add key="MRS.MANAGER.Base.ApiConsumerStore.Htc" value="http://htc.12c.vn/"/>

    <add key="MRS.MANAGER.Base.ApiConsumerStore.Fss" value="http://192.168.1.201:85"/>

    <add key="Inventec.Token.ClientSystem.Acs.Base.Uri" value="http://192.168.1.201:81/"/>
    <add key="Inventec.Token.ClientSystem.Acs.Renew.Uri" value="api/Token/Renew"/>
    <add key="Inventec.Token.ClientSystem.Acs.Login.Uri" value="api/Token/Login"/>
    <add key="Inventec.Token.ClientSystem.Acs.ChangePass.Uri" value="api/Token/ChangePassword"/>
    <add key="Inventec.Token.ClientSystem.Acs.Logout.Uri" value="api/Token/Logout"/>
    <add key="Inventec.Token.ClientSystem.Acs.GetAuthenticated.Uri" value="api/Token/GetAuthenticated"/>
    <add key="Inventec.Token.ClientSystem.Timeout" value="300"/>

    <add key="MRS.MANAGER.Base.UpdateToError" value="0"/>

    <add key="MRS.MANAGER.Base.FileStoreLocation.DOWNLOAD_FOLDER" value="DownloadReports"/>

    <add key="Inventec.SdaConsumer.Base.Uri" value="http://192.168.1.201:90/"/>
    <add key="Inventec.SdaConsumer.GetLastLicense.Uri" value="api/SdaLicense/GetLast"/>
    <add key="Inventec.AcsConsumer.Base.Uri" value="http://192.168.1.201:81/"/>
    <add key="License.PUK" value="InventecJSC"/>

    <add key="MRS.API.Scheduler.RefreshSystemConfigJob" value="3600000" />
    <add key="MRS.API.Scheduler.ScanTimeOutCredentialsJob" value="3600000" />
    <add key="MRS.API.Scheduler.ScanLicenseJob" value="3600000" />
    <add key="MRS.API.Scheduler.ScanTroubleJob" value="3600000" />

    <add key="MRS.Processor.Instance.Dll.Folder" value="/bin/ProcessorInstanceDll" />
    <!-- Cau hinh ket noi FSS server -->
    <add key="fss.uri.base" value="http://192.168.1.201:85/"/>
    <add key="fss.uri.upload" value="api/File/Upload"/>
    <add key="fss.timeout" value="300"/>
    <!-- Cau hinh ket noi FSS server -->

    <add key="MRS.Processor.Export.PDF" value="0" />

    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <add key="MRS.ConfigManager.ConnectionStrings.DataSource" value="HISPRO" />
    <add key="MRS.ConfigManager.ConnectionStrings.Id" value="QCU_RS" />
    <add key="MRS.ConfigManager.ConnectionStrings.Pass" value="QCU_RS" />
  </appSettings>
  <system.web>
    <trust level="Full" />
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5" maxQueryStringLength="32768" maxUrlLength="65536" maxRequestLength ="40000000"/>
    <authentication mode="None"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>