<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/DataModels.DataModel.csdl|res://*/DataModels.DataModel.ssdl|res://*/DataModels.DataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=IMSYSDB;user id=SDA_RS&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>