<div>
    <h3 style="text-align: center">Hệ thống ACS xin thông báo</h3>
    <div>
        <ol>
            <li>Có lỗi xảy ra, vui lòng liên hệ quản trị hệ thống để được hỗ trợ.</li>
        </ol>
    </div>
</div>
