<div>
    <h3 style="text-align: center">Hệ thống ACS xin thông báo</h3>
    <div>
        <ol>
            <li>Quá trình reset mật khẩu đã hoàn tất. Mật khẩu mới của quý khách đã được reset về mật khẩu mặc định. Vui lòng đăng nhập vào hệ thống để kiểm tra lại. Chân trọng cảm ơn.</li>
        </ol>
    </div>
</div>
