<div>
    <h3 style="text-align: center">Hệ thống ACS xin thông báo</h3>
    <div>
        <ol>
            <li>Đã quá thời hạn xác nhận thông tin reset mật khẩu, vui lòng thực hiện lại. Trân trọng.</li>
        </ol>
    </div>
</div>
